.badge {
  display: inline-block;
  padding: 3px 4px;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  border-radius: 2.5px;
  vertical-align: middle;
}

.badge--success {
  color: $color__success;
  background-color: #d9f3cf;
}

.badge--fail {
  color: $color--fail;
  background-color: #ffdddd;;
}