.button {
  display: inline-block;
  text-align: center;
  padding: .9em 2em;
  text-decoration: none;
  outline: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: all .2s;
  @include font-smoothing(on);

  font-weight: 500;
  color: #fff;
  background-color: $color__brand-primary;
  min-width: 200px;
  border-radius: 2em;

  &:hover {
    box-shadow: 0 25px 30px -10px rgba($color__brand-primary, .3);
  }
}

.button--fat {
  padding: 1.6em 2em;
}

.button--secondary {
  background-color: $color__brand-secondary;

  &:hover {
    box-shadow: 0 20px 20px -10px rgba($color__brand-secondary, .3);
  }
}

.button--tertiary {
  background-color: #bac9d8;

  &:hover {
    box-shadow: 0 20px 20px -10px rgba(#bac9d8, .3);
  }
}