.cta {
  @include padding(50px null 85px);
}

.cta--has-subheading {
  padding-top: 65px;
}

.cta__heading {
  margin-top: 0;

  .cta--has-subheading & {
    margin-bottom: .55em;
  }
}

.cta__subheading {
  color: $color__text-secondary;
}

.cta__button {
  .cta--has-subheading & {
    margin-top: 28px;
  }

  & + & {
    margin-left: 22px;
  }
}