.description {
  padding-top: 313px;
  padding-bottom: 80px;
  background: url("../img/robot-secondary.png") calc(50% + 170px) 2px no-repeat;
  background-size: 818px 553px;

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background: url("../img/robot-secondary@2x.png") calc(50% + 170px) 2px no-repeat;
    background-size: 818px 553px;
  }
}

.description__content {
  width: 340px;
  margin-left: 115px;
}

.description__heading {
  margin: 0 0 57px;
}

.description__desc {
  line-height: 1.56;
  color: $color__text-secondary;
  font-size: 18px;
}