.details {
  border-bottom: 1px solid $color__border;
  width: 456px;
}

.details__name {
  font-size: 18px;
  display: block;
  margin-bottom: 12px;
}

.details__score {
  font-size: 14px;
  font-weight: 300;
  color: $color__text-secondary;
  vertical-align: middle;
  margin-right: 4px;
}

.details__row {
  @include padding(22px null 24px);
  border-top: 1px solid $color__border;
}

.details__row--last {
  justify-content: space-around;
  padding-top: 30px;
}

.details__col--first {
  width: 175px;
}

.details__col--second {
  width: 160px;
}

.details__col--last {
  width: auto;
}