.feedback {
  padding-top: 66px;
  padding-bottom: 66px;

  &.is-scrolled {
    margin-top: 500px;
  }
}

.feedback__heading {
  position: relative;
  width: calc(100% - 116px*2);
  @include margin(null auto 92px);
}

.feedback-table {
  position: relative;
  width: calc(100% - 116px*2);
  @include margin(null auto 92px);

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    @include position(absolute, 0 0 0 null);
    width: 614px;
    z-index: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 9px 47.5px 0 rgba(#141a25, .17);
  }
}

.feedback-table__category {
  @include position(absolute, -32px null null 0);
  color: $color__brand-primary;
  font-size: 12px;
  text-transform: uppercase;
}

.feedback-table__row {
  border-top: 1px solid $color__border;
  position: relative;
  line-height: 1.8;
  font-weight: 300;
  color: $color__text-secondary;
}

.feedback-table__row--first {
  border-top-right-radius: 5px;
  position: static;
}

.feedback-table__item {
  flex: 1;
  position: relative;
  padding-top: 37px;
}

.feedback-table__tip {
  width: 614px;
  padding: 52px 40px 22px;
  position: relative;
}
