.graph {
  padding-top: 30px;
}

.graph__legend {
  margin: 0 0 20px;
  text-align: center;
  font-weight: 500;
}

.graph__svg {
  width: 100%;
  overflow: hidden;
}

#graphResult,
#graphDot {
  stroke-width: 4;
  stroke: $color__brand-primary;
}

#graphDot {
  fill: #fff;
}

#graphResult {
  fill: none;
}

#graphPath {
  fill: none;
  stroke-width: 1;
  stroke: #98a6b4;
}