.hash-card {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #edf1f5;
  max-width: 330px;
  padding: 44px 45px 30px 54px;
  transition: all .5s;

  &:hover {
    border-color: $color__brand-primary;
  }
}

.hash-card__icon {
  font-size: 28px;
  color: $color__brand-primary;

  .hash-card--is-active & {
    color: inherit;
  }
}

.hash-card__title {
  line-height: 1.5;
  font-size: 18px;
  margin: .6em 0 0;
}

.hash-card__desc {
  line-height: 1.8;
  font-size: 14px;
  margin-top: .8em;
  opacity: .7;
}

.hash-card__link {
  @include position(absolute, 0);
}

.hash-card--is-active {
  color: #fff;
  background-color: $color__brand-primary;
  border-color: $color__brand-primary;
  box-shadow: 0 10px 95px -10px rgba($color__brand-primary, .9);
  @include font-smoothing(on);
}