.hero {
  @include padding(230px null 120px);
  background: url("../img/robot-main.png") calc(50% + 235px) 70px no-repeat;
  background-size: 800px 600px;

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background: url("../img/robot-main@2x.png") calc(50% + 235px) 70px no-repeat;
    background-size: 800px 600px;
  }
}

.hero__content {
  width: 350px;
  margin-left: 77px;
  position: relative;

  &:before {
    content: '';
    @include size(520px 396px);
    @include position(absolute, -160px null null -590px);
    background: url("../img/paper.png") center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: .8;
  }
}

.hero__heading {
  line-height: 1.22;
  margin: 0 0 .6em;
}

.hero__desc {
  font-size: 18px;
  line-height: 1.67;
  color: #464a4d;
  margin-bottom: 43px;
}