.meter {
  width: 8px;
  height: 98px;
  border-radius: 4px;
  background-color: #c6d2e5;
  position: relative;
}

.meter__inner {
  @include position(absolute, null 0 0);
  border-radius: 4px;
  background-color: #357aec;
  box-shadow: 0 0 11px 0 rgba(#357aec, .8);
}