.metric__heading {
  position: absolute;
  margin: 0;
  font-size: 9px;
  text-transform: uppercase;
  top: 43px;

  .metric--success & {
    color: $color__success;
  }

  .metric--fail & {
    color: $color__fail;
  }
}

.metric__name {
  font-size: 18px;
  color: $color__text-primary;
  font-weight: 400;
  top: -14px;
  margin: 0;
  max-width: 255px;

  .metric--success &,
  .metric--fail & {
    &:after {
      content: '';
      margin-left: 3px;
      position: relative;
      top: 2px;
      display: inline-block;
      transform: scale(.5);
    }
  }

  .metric--success & {
    &:after {
      @extend .good;
    }
  }

  .metric--fail & {
    &:after {
      @extend .bad;
    }
  }
}

.metric__status {
  margin-top: 10px;
}
