.nav {
  ul {
    @include reset-list;
  }
}

.nav__item {
  .nav--row & {
    margin-left: 20px;
  }

  .nav--column & {
    margin-bottom: 6px;
  }
}

.nav__link {
  display: block;
  color: $color__text-secondary;
  font-weight: 500;
  padding: 4px 10px;
  text-decoration: none;
  transition: color .2s;

  .nav--column & {
    @include padding(null 0);
  }
  
  &:hover {
    color: $color__brand-primary;
  }
}

.nav__link--btn {
  border: 1px solid #bac9d8;
  border-radius: 3px;
  padding: 9px 10px;

  &:hover {
    border-color: $color__brand-primary;
    background-color: $color__brand-primary;
    color: #fff;
  }
}
