.site-header {
  @include position(absolute, 0 0 null);
  transition: all .2s;
  z-index: 1;
}

.site-header__scroll-meter {
  opacity: 0;
  @include size(100% 4px);
  background-color: #d9e0e8;
  transition: all .2s;

  .filler {
    border-radius: 10px;
    height: 100%;
    background-color: $color__brand-primary;
    box-shadow: 0 0 10px 2px rgba($color__brand-primary, .4);
  }
}

.site-header--is-sticky {
  background-color: #fff;
  position: fixed;
  z-index: 3;

  .site-header__scroll-meter {
    opacity: 1;
  }
}

.site-header__logo {
  margin-right: auto;
  transition: all 1.4s;

  .site-header--is-sticky & {
    transform: translateX(-68px);
  }
}

.site-header__navbar {
  padding: 55px 0 20px;
  align-items: center;

  .site-header--is-sticky & {
    padding-top: 20px;
  }
}

.site-header__nav {
  transition: all 1.4s;

  .nav__item {
    margin-left: 15px;
  }

  .site-header--is-sticky & {
    transform: translateX(68px);
  }
}