.site-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &.home {
    background: url("../img/bg-main.png") calc(50% - -120px) top no-repeat,
                url("../img/circle.png") calc(50% + 255px) 770px no-repeat;
    background-size: 2340px, auto;
  }
}

.site-main {
  flex: 1 0 auto;
  position: relative;
}
