.site-footer {

}

.site-footer__nav {
  margin-right: -10px;
}

.site-footer__bottom-line {
  @include padding(55px null);
  align-items: center;
}

.site-footer__copy {
  margin-right: auto;
}

.site-footer__navigation {
  border-top: 1px solid #e2e8f2;
  @include padding(100px null 55px);
  justify-content: center;
}