.slide {
  align-items: center;
}

.slide__heading {
  color: $color__brand-primary;
  font-size: 24px;
  line-height: 1.33;
  padding-left: 33px;
  position: relative;
  @include margin(0 null 30px);

  &:before {
    content: '\2014';
    @include position(absolute, 0 null null 0);
  }
}

.slide__desc {
  width: 42.5%;
  padding-left: 14px;
  padding-right: 50px;
}

.slide__img {
  width: 57.5%;
}


.slide__paragraph {
  color: $color__text-secondary;
  line-height: 1.7;
}