.socials {
  padding-top: 66px;
  padding-bottom: 120px;
  border-bottom: 1px solid $color__border;
}

.socials__heading {
  margin-top: 0;
}

.socials__networks {
  @include reset-list;
}

.socials__item {
  display: inline-block;
}

.socials__link {
  display: block;
  border: 1.5px solid #eaecee;
  color: #d5dae3;
  font-size: 16px;
  padding: 15px;
  border-radius: 50%;
  margin: 5px;
  transition: all .2s;

  .icon {
    display: block;
  }

  .icon-in {
    left: 1px;
    top: -1px;
  }

  &:hover {
    border-color: $color__brand-primary;
    background-color: $color__brand-primary;
    box-shadow: 0 5px 34px 0 rgba($color__brand-primary, .9);
    color: #fff;
  }
}