.steps {
  outline: none;
}

.steps-carousel {

}

.steps__carousel,
.steps__navigation {
  @include padding(null 38px);
}

.steps__navigation {
  justify-content: space-between;
}

.steps__hash {

}

.steps__navigation {
  margin-bottom: 15px;
}