.summary {
  height: 100vh;
  padding-top: 245px;
  position: relative;
  background: rgba($color__brand-primary, .04) url("../img/bg-icons.png") center 70px no-repeat;
  transition: height .8s, padding .8s;

  &.summary--is-scrolled {
    height: 0;
    padding-top: 225px;
    @include position(fixed, 0 0 null);
    z-index: 2;

    &:before {
      content: '';
      @include position(absolute, 0);
      background: #f7faff url("../img/bg-icons.png") center bottom no-repeat;
    }
  }
}

.summary__wrap {
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.summary__overall {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 5px 62px 7px #e6e8ec;
  width: 494px;
  animation-duration: .3s;

  &.absolute {
    top: -130px;
  }
}

.summary__details {
  position: relative;
  margin-left: 65px;
  animation-duration: .3s;
}

.summary__name {
  color: #c0c8d4;
  font-size: 9px;
  text-transform: uppercase;
  @include position(absolute, -24px null null 18px);
}

.summary__welcome {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45;
  @include padding(35px null 28px 144px);
  border-bottom: 1px solid $color__border;
  background: url("../img/robot-face.png") 34px center no-repeat;
  background-size: 89px 62px;

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {

    .summary__welcome {
      background: url("../img/robot-face@2x.png") 34px center no-repeat;
      background-size: 89px 62px;
    }
  }
}

.summary__stats {
  height: 172px;
}

.summary__score,
.summary__meter {
  border-right: 1px solid $color__border;
  align-items: center;
  justify-content: center;
}

.summary__score { flex: 0 0 180px; }
.summary__meter { flex: 0 0 70px; }
.summary__graph { flex-grow: 1; overflow: hidden; }

.summary__scroll {
  @include position(absolute, null 0 50px);
  font-weight: 500;
  text-align: center;
  animation-delay: 1s;

  .icon-scroll-arrow {
    font-size: 8px;
    @include position(absolute, -20px null null 50%);
    color: $color__brand-primary;
    margin-left: -.5em;
  }

  .summary--is-scrolled & {
    opacity: 0;
  }
}
