<section class="cta @@mod t-center">
    <div class="container">
        <h2 class="h2 cta__heading">@@heading</h2>
        <p class="cta__subheading f-light">@@subheading</p>
        <a href="#" class="button button--fat button--secondary cta__button">@@button</a>
    </div>
</section>