<section class="description">
    <div class="container">
        <div class="description__content">
            <h2 class="h2 description__heading">Get your free resume score</h2>
            <p class="description__desc f-light">Resume robots are increasingly common in the healthcare industry. Before any human sees your resume, a robot will do it’s best to read your resume to understand who you are. If it likes what it sees, you’ll be passed on to the hiring manager!</p>
        </div>
    </div>
</section>