<section class="feedback">
    <div class="container">
        <h3 class="feedback__heading">Raport</h3>
        <div class="feedback-table">
            <span class="feedback-table__category f-black">contact information</span>
            <div class="feedback-table__row metric metric--success feedback-table__row feedback-table__row--first flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Name</h5>
                    <p class="metric__status">Present</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Email adress</h5>
                    <p class="metric__status">Present</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Phone</h5>
                    <p class="metric__status">Present</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Education</h5>
                    <p class="metric__status">Present</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
        </div>

        <div class="feedback-table">
            <span class="feedback-table__category f-black">FILENAME</span>
            <div class="feedback-table__row metric metric--success feedback-table__row feedback-table__row--first flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Is the filename long enough?</h5>
                    <p class="metric__status">Yes. It has 19 characters.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Does the filename include the person’s name?</h5>
                    <p class="metric__status">Yes.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
        </div>

        <div class="feedback-table">
            <span class="feedback-table__category f-black">WORK HISTORY</span>
            <div class="feedback-table__row metric metric--success feedback-table__row feedback-table__row--first flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Does it exist</h5>
                    <p class="metric__status">Yes.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Is there enough detail in each entry?</h5>
                    <p class="metric__status">Yes.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Is it in reverse chronological order?</h5>
                    <p class="metric__status">Yes.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
        </div>

        <div class="feedback-table">
            <span class="feedback-table__category f-black">education</span>
            <div class="feedback-table__row metric metric--fail feedback-table__row feedback-table__row--first flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Does it exist</h5>
                    <p class="metric__status">No.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--fail flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Is it in reverse chronological order?</h5>
                    <p class="metric__status">No.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--fail flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Is GPA included?</h5>
                    <p class="metric__status">No.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
        </div>

        <div class="feedback-table">
            <span class="feedback-table__category f-black">RESUME CONTENT</span>
            <div class="feedback-table__row metric metric--success feedback-table__row feedback-table__row--first flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Document word count</h5>
                    <p class="metric__status">670 words.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--fail flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Are there too many overused words?</h5>
                    <p class="metric__status">Yes.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Did they use “Measurable achievement” phrases?</h5>
                    <p class="metric__status">Yes.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Did they include personal URLs?</h5>
                    <p class="metric__status">Yes.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
        </div>

        <div class="feedback-table">
            <span class="feedback-table__category f-black">SPECIAL TIPS FOR OPTIMETRISTS</span>
            <div class="feedback-table__row metric metric--success feedback-table__row feedback-table__row--first flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Co-management</h5>
                    <p class="metric__status">Yes.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">EHR Experience</h5>
                    <p class="metric__status">Yes.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Equipment experience</h5>
                    <p class="metric__status">Yes.</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
            <div class="feedback-table__row metric metric--success flex">
                <div class="feedback-table__item">
                    <h5 class="metric__name">Exams</h5>
                    <p class="metric__status">CEVE, FBI, CIA</p>
                </div>
                <div class="feedback-table__tip">
                    <h6 class="metric__heading f-black">Name of this tip</h6>
                    <p class="metric__summary">Your summary section is your chance to “sell” yourself to employers. Think of it as a 30-second pitch, and keep it brief: no more than 3-5 sentences. Include your current field, your experience, your most impressive results, and what you can offer a potential employer. Where possible, be specific and use quantifiable achievements.</p>
                </div>
            </div>
        </div>

    </div>
</section>