<section class="hero">
    <div class="container">
        <article class="hero__content">
            <h1 class="h1 hero__heading">Get intelligent resume advice</h1>
            <p class="hero__desc f-light">From the Healthcare Resumé Robot! Useful and actionable advice based on AI and machine learning.</p>
            <a href="#" class="button button--secondary button--fat hero__button">Upload your Resumé</a>
        </article>
    </div>
</section>