</main>
<footer class="site-footer">
    <div class="container">
        <div class="site-footer__navigation flex">
            <div class="widget widget--product">
                <div class="widget__title">Product</div>
                <nav class="nav nav--column">
                    <ul>
                        <li class="nav__item">
                            <a class="nav__link f-light" href="#">How it works</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link f-light" href="#">Browse Jobs</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link f-light" href="#">Upload</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="widget widget--social">
                <div class="widget__title">Social</div>
                <nav class="nav nav--column">
                    <ul>
                        <li class="nav__item">
                            <a class="nav__link f-light" href="#">Facebook</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link f-light" href="#">Twitter</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link f-light" href="#">Linkedin</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="widget widget--contact">
                <div class="widget__title">Contact us</div>
                <nav class="nav nav--column">
                    <ul>
                        <li class="nav__item">
                            <a class="nav__link f-light" href="tel:(858) 246-7066">(858) 246-7066</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link f-light" href="#">Chat With Live Support</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link f-light" href="mailto:cc@cc.com">Write e-mail</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="flex site-footer__bottom-line">
            <span class="copy f-medium site-footer__copy">© 2018 CovalentCareers, Inc.</span>

            <nav class="nav nav--row site-footer__nav">
                <ul class="flex">
                    <li class="nav__item">
                        <a class="nav__link f-light" href="https://covalentcareers.com/privacy">Privacy Policy</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link f-light" href="https://covalentcareers.com/terms-of-use">Terms of Use</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>

<script src="js/bundle.min.js"></script>
</body>
</html>
