<section class="socials t-center">
    <div class="container">
        <h3 class="h3 socials__heading">It’s always nice to share with others.</h3>
        <ul class="socials__networks">
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="icon icon-fb">
                        <use xlink:href="img/icons.svg#fb"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="icon icon-tw">
                        <use xlink:href="img/icons.svg#tw"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="icon icon-in">
                        <use xlink:href="img/icons.svg#in"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>