<section id="steps" class="steps">
    <div class="container">
        <h2 class="h2 visually-hidden">How it works</h2>
        <div class="steps__navigation js-steps__navigation flex">
            <div class="steps__hash hash-card hash-card--is-active">
                <svg class="hash-card__icon icon icon-advice">
                    <use xlink:href="img/icons.svg#advice"></use>
                </svg>
                <h4 class="hash-card__title f-medium">Intelligent resume advice for Optometrists</h4>
                <p class="hash-card__desc f-light">Get resume advice from a specialized algorithm that has learned from thousands of OD resumes</p>
                <a class="hash-card__link js-hash-card__link" href="#step-one"></a>
            </div>
            <div class="steps__hash hash-card">
                <svg class="hash-card__icon icon icon-analisys">
                    <use xlink:href="img/icons.svg#analisys"></use>
                </svg>
                <h4 class="hash-card__title f-medium">Detailed analysis report</h4>
                <p class="hash-card__desc f-light">Use the detailed report to see where your resume excels and what can be improved</p>
                <a class="hash-card__link js-hash-card__link" href="#step-two"></a>
            </div>
            <div class="steps__hash hash-card">
                <svg class="hash-card__icon icon icon-comparison">
                    <use xlink:href="img/icons.svg#comparison"></use>
                </svg>
                <h4 class="hash-card__title f-medium">See how you compare</h4>
                <p class="hash-card__desc f-light">See how your resume score compares to other Optometrists to gain a competitive edge</p>
                <a class="hash-card__link js-hash-card__link" href="#step-three"></a>
            </div>
        </div>
        <div class="steps__carousel steps-carousel owl-carousel owl-theme">
            <div class="steps-carousel__item flex slide" data-hash="step-one">
                <div class="slide__img">
                    <img srcset="./img/score.png,
                             ./img/score@2x.png 1.5x"
                         src="./img/score.png"
                         alt="step 1">
                </div>
                <div class="slide__desc">
                    <h5 class="slide__heading f-light"><span class="f-medium">Most recruiters make up their mind within 60 seconds</span> of reading a candidate’s resume.</h5>
                    <p class="slide__paragraph f-light">Resume Robot is engineered to understand and analyze Optometrist resumes. Built with input from private practice and corporate employers from across the eyecare industry, this specialized machine learning <span class="f-medium">algorithm knows exactly what makes a great OD resume.</span></p>
                </div>
            </div>
            <div class="steps-carousel__item flex slide" data-hash="step-two">
                <div class="slide__img">
                    <img srcset="./img/tips.png,
                             ./img/tips@2x.png 1.5x"
                         src="./img/tips.png"
                         alt="step 2">
                </div>
                <div class="slide__desc">
                    <h5 class="slide__heading f-light"><span class="f-medium">50% of recruiters will reject</span> a resume that’s full of <span class="f-medium">cliches</span>.</h5>
                    <p class="slide__paragraph f-light">With one click, you’ll get a detailed report containing feedback for all of the important sections of your resume. Your personalized report explains what looks good, what’s missing, and what can use improvement. Resume Robot automatically checks your resume for the most overused words and phrases.</p>
                </div>
            </div>
            <div class="steps-carousel__item flex slide" data-hash="step-three">
                <div class="slide__img">
                    <img srcset="./img/graph.png,
                             ./img/graph@2x.png 1.5x"
                         src="./img/graph.png"
                         alt="step 3">
                </div>
                <div class="slide__desc">
                    <h5 class="slide__heading f-medium">75% of Optometrists have applied to at least one job without hearing back.</h5>
                    <p class="slide__paragraph f-light">The eyecare industry is a competitive market, with the most desirable positions filled within days. Gain an edge over competition by seeing how your resume compares to other optometrists in the field.</p>
                </div>
            </div>
        </div>
    </div>
</section>