<div class="summary js-summary">
    <div class="container">
        <div class="summary__wrap flex">
            <div class="summary__overall">
                <span class="summary__name f-black js-hideOnScroll">Overall score</span>
                <div class="summary__welcome js-hideOnScroll">
                    Hello <span class="t-accent">Michał</span>, <span class="t-secondary">We analyzed your resume and prepared a report.</span>

                </div>
                <div class="summary__stats flex">
                    <div class="summary__score score flex-column">
                        <h4 class="score__heading">You have scored</h4>
                        <div class="score__value" id="scoreVal">0</div>
                    </div>
                    <div class="summary__meter flex">
                        <div class="meter">
                            <div id="resultsMeter" class="meter__inner"></div>
                        </div>
                    </div>
                    <div class="summary__graph graph">
                        <div class="graph__legend"><span id="graphLegendVal">0</span>% better than avg.</div>
                        <div id="graph" class="graph__svg"></div>
                    </div>
                </div>
            </div>
            <div class="summary__details details js-hideOnScroll">
                <span class="summary__name f-black">Details</span>
                <div class="details__row flex details__row--first">
                    <div class="details__col details__col--first">
                        <span class="details__name">Contact info</span>
                        <span class="details__score">4 of 4</span>
                        <span class="badge badge--success">perfect</span>
                    </div>
                    <div class="details__col details__col--second">
                        <span class="details__name">Filename</span>
                        <span class="details__score">Correct</span>
                    </div>
                    <div class="details__col details__col--last">
                        <span class="details__name">Work history</span>
                        <span class="details__score">3 of 3</span>
                        <span class="badge badge--success">perfect</span>
                    </div>
                </div>
                <div class="details__row flex">
                    <div class="details__col details__col--first">
                        <span class="details__name">Education</span>
                        <span class="details__score">0 of 3</span>
                        <span class="badge badge--fail">critical</span>
                    </div>
                    <div class="details__col details__col--second">
                        <span class="details__name">Content</span>
                        <span class="details__score">3 of 4</span>
                    </div>
                    <div class="details__col details__col--last">
                        <span class="details__name">Special Factor</span>
                        <span class="details__score">4 of 4</span>
                        <span class="badge badge--success">perfect</span>
                    </div>
                </div>
                <div class="details__row details__row--last flex">
                    <a href="#feedback" id="showfeedback" class="button">Show full summary</a>
                    <a href="#" class="button button--tertiary">Reupload your Resumé</a>
                </div>
            </div>
        </div>
    </div>
    <div class="summary__scroll">Scroll down for more <svg class="icon icon-scroll-arrow">
        <use xlink:href="img/icons.svg#scroll-arrow"></use>
    </svg></div>
</div>