// COLORS
$color__selection-highlight: #b3d4fc;
$color__brand-primary: #357aec;
$color__brand-secondary: #e44ca0;;
$color__text-primary: #384458;
$color__text-secondary: #97a6b4;
$color__success: #3bc341;
$color__fail: #f95353;
$color__border: #d9e0e8;

// SOCIAL COLORS
$facebook: #3b5998;
$twitter: #1da1f2;
$vkontakte: #45668e;
$googleplus: #dc4e41;
$pinterest: #bd081c;
$skype: #00aff0;
$telegram: #0088cc;
$instagram: #4e433c;
$vimeo: #86b32d;
$soundcloud: #f76600;
$youtube: #ff3333;
$linkedin: #4875b4;
$flickr: #fe0883;
$whatsup: #25d366;

// BREAKPOINTS
$bp__xs: 480px;
$bp__sm: 768px;
$bp__md: 992px;
$bp__lg: 1280px;
$bp__xl: 1500px;

// CONTAINERS
$container--initial: 320px;
$container--xs: 480px;
$container--sm: 768px;
$container--md: 992px;
$container--lg: 1144px;

// TRANSITIONS
$transitions: (
  prop: all,
  time: .2s,
  func: ease
)