body {
  min-width: 1200px
}

.container {
  margin: 0 auto;
  width: $container--lg;
  position: relative;
  @include grid-container;

  //@include grid-media($xs-grid) {
  //  width: $container--xs;
  //}
  //
  //@include grid-media($sm-grid) {
  //  width: $container--sm;
  //}
  //
  //@include grid-media($md-grid) {
  //  width: $container--md;
  //}
  //
  //@include grid-media($lg-grid) {
  //  width: $container--lg;
  //}
}
