// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bad-name: 'bad';
$bad-x: 22px;
$bad-y: 0px;
$bad-offset-x: -22px;
$bad-offset-y: 0px;
$bad-width: 14px;
$bad-height: 14px;
$bad-total-width: 36px;
$bad-total-height: 16px;
$bad-image: '../img/sprite.png';
$bad: (22px, 0px, -22px, 0px, 14px, 14px, 36px, 16px, '../img/sprite.png', 'bad', );
$good-name: 'good';
$good-x: 0px;
$good-y: 0px;
$good-offset-x: 0px;
$good-offset-y: 0px;
$good-width: 20px;
$good-height: 16px;
$good-total-width: 36px;
$good-total-height: 16px;
$good-image: '../img/sprite.png';
$good: (0px, 0px, 0px, 0px, 20px, 16px, 36px, 16px, '../img/sprite.png', 'good', );
$spritesheet-width: 36px;
$spritesheet-height: 16px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($bad, $good, );
$spritesheet: (36px, 16px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
