/**
 * Better box-sizing. Prevent breaking components that leverage other behavior:
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Fix selection highlighting issues
 *
 * 1. Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * 2. Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * 3. Customize the background color in settings/_variables.scss to match your design
 */

::-moz-selection { /* [2] */
  text-shadow: none; /* [1] */
  background: $color__selection-highlight; /* [3] */
}

::selection { /* [2] */
  text-shadow: none; /* [1] */
  background: $color__selection-highlight; /* [3] */
}

/**
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/**
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $color__text-primary;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 300;
  line-height: 1.06;
}

h1, .h1 {
  font-size: 54px;
}

h2, .h2 {
  font-size: 48px;
}

h3, .h3 {
  font-size: 30px;
}
